* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    scroll-behavior: smooth;
}
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(102, 102, 102, 0.123) 0%, rgba(0, 0, 0, 0.500) 70%, rgb(0, 0, 0) 100%), url(../assets/img1/3.1.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.body {
    height: 100vh;
    width: 100vw;
    align-items: center;
}
a {
    text-decoration: none;
}
.top-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #df5c53;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black !important;
    font-size: 22px;
}
.top-btn:hover {
    background-color: #b94f48;
}
/* landing */
.landing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2% 7%;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 28%;
    bottom: 50%;
}
.landing h1 {
    font-size: 210px;
    font-family: 'Bebas Neue', cursive;
    color: black;
}
.landing h2 {
    font-size: 30px;
    margin-top: -65px;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 6px;
    color: black;
}
.landing a {
    margin-top: 30px;
    padding: .5rem 1.5rem;
    color: rgb(199, 199, 199);
    background-color: black;
    max-width: fit-content;
    max-height: fit-content;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}
.landing a:hover {
    background-color: #df5c53;
    color: #ECDFC2;
    border-radius: 5px;
    transition: color 0.10s ease-in-out, background-color 0.10s ease-in-out, border-color 0.10s ease-in-out, box-shadow 0.10s ease-in-out;
}
/* explore */
.explore {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
.explore-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 90px 600px;
    grid-template-areas: "title title title"
                         "birth life death" ;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.explore-grid h1 {
    grid-area: title;
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.birth-img {
    grid-area: birth;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 40px;
}
.life-img {
    grid-area: life;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 40px;
}
.death-img {
    grid-area: death;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 40px;
}
.explore-img { 
    filter: grayscale();
    width: 100%;
    height: 700px;
    object-fit: contain;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(63, 63, 63, 0.795)), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.596), rgba(255, 255, 255, 0));
}
.birth-img:hover .img-overlay, .life-img:hover .img-overlay, .death-img:hover .img-overlay {
    opacity: 1;
}
.img-title {
    font-style: bold;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}
.img-overlay {
    position: absolute; 
    background: rgba(0, 0, 0, 0.6);
    color: #ECDFC2;
    padding-top: 5rem;
    padding-bottom: 5rem;
    top: 400px;
    opacity: 0;
    transition: opacity 0.25s;
    width: 90%;
    border-radius: 10px;
} 
.img-overlay p {
    font-style: italic;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img-overlay a {
    color: white;
    text-align: center;
}
.img-overlay a:hover {
    color: #df5c53 !important;
    cursor: pointer;
}
/* explore-more */
.explore-more {
    height: 100%;
    width: 100%;
    background-color: black;
}
.explore-more a {
    color: #a09989;
}
.explore-more a:hover {
    color: #ECDFC2;
}
.sources {
    font-size: 12px;
    font-style: italic;
    padding-top: 40px;
    color: white;
}
/* birth */
.birth {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #f0e8d9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}
.birth-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.birth-more-img {
    flex: 1;
    height: 85vh;
}
.birth-words {
    flex: 1;
    padding-right: 200px ;
    margin: auto;
}
.birth-words h1 {
    width: 100%;
    font-size: 50px;
    padding-bottom: 25px;
}
.birth-words p {
    width: 100%;
    text-align: justify;
    font-size: 21px;
    text-indent: 45px;
    color: white;
}
.b-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* life */
.life {
    height: 100vh;
    width: 100%;
    background-color: black;    
    color: #f0e8d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}
.box h1 {
    line-height: 60px;
    flex: 0 0 60px;
    color: #ECDFC2;
    font-size: 70px;
    /* padding-bottom: 90px; */
}
.achievement-box {
    position: relative;
    display: flex;
    padding: 50px 0;
    width: 100%;
}
.achievement-box .achievement {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.achievement-box .achievement img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    filter: grayscale();
}
.achievement-box .achievement img:hover {
    filter: sepia();
    cursor: pointer;
}
.achievement:hover .a-title{
    opacity: 1;
}
.a-title {
    opacity: 0;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.achievement a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.life-img-more {
    width: 300px;
    height: 100px;
    filter: grayscale();
    border-radius: 100px;
}
.life-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    font-size: 10px;
}
.life p {
    padding-bottom: 10px;
}
.life-content p {
    flex: 1;
}
.life-img-more-box {
    flex: 1;
}
.life-words {
    display: flex;
}
.life-words h2 {
    margin-right: 10px;
    flex: 1;
}
.life-words p {
    flex: 1;
    text-align: justify;
}
.life-more-btn {
    color: #a09989;
    font-size: 20px;
    align-self: flex-start;
    margin-left: 180px;
    letter-spacing: 5px;
    margin-top: 20px;
}
fa-solid fa-chevron-down {
    background-color: #b94f48;
}
/* life more */
.life-more {
    height: 100vh;
    width: 100%;
    background-color: black;    
    color: #f0e8d9;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px 0;
}
.lm-conent {
    display: flex;
    justify-content: center;
    width: 85%;
}
.lm-section {
    margin: 10px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #a09989;
    border-radius: 10px;
    padding: 20px;
}
.lm-section h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #ECDFC2;
}  
.lm-words {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lm-section img {
    filter: grayscale();
    width: 100px;
    height: 100%;
    flex: 1;
}
.lm-words h4 {
    margin: 20px;
    font-size: 18px;
    flex: 1;
    color: white;
}
.lm-words p {
    margin: 10px 0;
    font-size: 13px;
    text-align: justify;
    color: white;
}
.lm-content-more {
    margin: 0 150px;
    font-size: 16px;
    color: #ECDFC2;
    line-height: 24px;
    flex: 2;
    text-align: center;
}
/* death */
.death {
    height: 100vh;
    width: 100%;
    background-color: black;    
    color: #f0e8d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0 auto;
    padding-bottom: 30px;
}
.death h1 {
    margin-top: 90px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 70px;
    color: #ECDFC2;
}
.death h3 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #ECDFC2;
}
.death-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.death-section {
    margin: 10px 200px;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 90px;
}
.death-section p {
    flex: 1;
    margin: 30px;
    text-align: justify;
    font-size: 16px;
    color: white;
    line-height: 24px;
}
.death-section img {
    width: 30%;
    border-radius: 10px;
    flex: 1;
    margin: 30px;
    filter: grayscale();
}
/* summary */
.summary {
    height: 100vh;
    width: 100%;
    background-color: black;    
    color: #f0e8d9;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.summary-tbl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary h1 {
    font-size: 70px;
    padding-bottom: 40px;
    letter-spacing: 5px;
}
.summary-tbl table {
    border: 1px solid white;
    border-collapse: separate;
}
.summary-tbl th, td {
    padding: 5px;
    text-align: left;
    font: 20px;
}
/* responsive */
@media screen and (max-width:1200px){
    .landing, .explore, .explore-grid, .explore-more, .birth, .birth-grid, .box, .achievement-box, .life, .life-more, .lm-conent, .lm-section, .lm-words, .death, .death-section, .death-content, .summary, .summary-tbl {
        display: block;
        height: 100%;
        margin: 0 auto;
    }
    /* top-btn */
    .top-btn {
        right: 8px
    }
    /* landing and header */
    header { 
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .landing {
        position: absolute;
        margin: 50px auto;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    .landing h1 {   
        font-size: 100px;
        margin: 0 auto;
    }
    .landing h2 {
        font-size: 10px;
        margin: 0 auto;
    }
    .landing a {
        font-size: 8px;
        width: auto;
        margin: 80px auto;
        padding: .1rem 1rem;
    }
    /* explore */
    .explore-grid h1 {
        font-size: 25px;
        letter-spacing: 15px;
    }
    .birth-img, .life-img, .death-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img-overlay {
        position: absolute;
        background-color: #5a5a5a44;
        opacity: 1;
        top: 200px;
        width: 80%;
        padding: 20px;
    }
    .img-title {
        font-size: 14px;
    }
    .img-overlay p {
        font-size: 10px;
    }
    .explore-img {
        height: 400px;
    }
    /* explore more */
    .explore-more {
        text-align: center;
    }
    /* birth */
    .birth-words {
        padding-right: 80px;
        padding-left: 80px;
    }
    .birth h1 {
        text-align: center;
        font-size: 15px;
    }
    .birth p {
        font-size: 9px;
    }
    .b-img {
        height: 400px;
    }
    .sources {
        font-size: 10px;
    }
    /* life */
    .box h1 {
        font-size: 20px ;
        padding-top: 30px;
    }
    .achievement-box {
        margin-top: 0;
        padding-top: 0;
    }
    .achievement {
        flex-direction: row;
        width: 100px;
        height: 120px;
        margin: 20px auto;
    }
    .a-title {
        margin: 8px;
        font-size: 10px;
        opacity: 1;
    }
    .box {
        padding-bottom: 20px;
    }
    /* life more */
    .life-more {
        padding-bottom: 0;
    }
    .lm-section {
        margin: 10px 100px;
        position: relative;
    }
    .lm-section h3 {
        font-size: 12px;
    }
    .lm-words h4 {
        font-size: 10px;
    }
    .lm-words p {
        font-size: 9px;
    }
    .lm-content-more {
        font-size:  9px;
        line-height: 13px;
        align-self: center;
    }
    .life-more-btn {
        visibility: hidden;
    }
    /* death */
    .death {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 200px;
    }
    .death h1 {
        font-size: 20px;
    }
    .death h3 {
        font-size: 12px;
    }
    .death-section {
        margin: 10px 80px;
        padding-top: 30px;
    }
    .death-section img {
        width: 200px;
        margin: 0 auto;
    }
    .death-section p {
        font-size: 10px;
        margin: 30px auto;
        line-height: 24px;
    }
    .death-vid video {
        width: 60vw;
    }
    /* summary */
    .summary-tbl {
        width: 60vw;
        font-size: 12px;
    }
}